<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Leads List | Abz</title>
    <style>
        .lead {
            padding: 10px 6px 10px;
            margin-top: 10px;
            background-color: #f6f6f6;
            width: 100%;
        }
    </style>
</head>
<body>
    <a href="{% url 'leads:lead-create' %}"> Create New Lead </a>
    <hr/>
    <h1>This is all list of leads!</h1>
    {% for lead in leads %}
        <div class="lead">
            <a href="{% url 'leads:lead-detail' lead.pk %}">{{ lead.first_name }} {{ lead.last_name }}.</a></br> 
            Age: {{ lead.age }} <hr/>
            <a href="{% url 'leads:lead-update' lead.pk %}"> Edit data </a> &nbsp; 
            <a href="{% url 'leads:lead-delete' lead.pk %}"> Delete data </a>
        </div>
    {% endfor %}
    
</body>
</html>